* { margin: 0; padding: 0; outline: none; }
a { color: #FFF; cursor: pointer; text-decoration: none; }
body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }

.row,.fluid {
    display: flex;
    align-items: center;
    flex-direction: row;
} .row-r,.fluid-r {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
} .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
} .col-r {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
} .auto {
    flex: 50;
} .fixed {
    width: 100%;
    z-index: 100;
    position: fixed;
    min-height: 60px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
} .static {
    float: left;
    width: 100%;
    z-index: 100;
    min-height: 60px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
} .content {
    z-index: 50;
    padding-top: 60px; 
} .toggle {
    display: none;
}

.row.left, .row-r.right, .fluid.left, .fluid-r.right, .navbar.left, .navbar-r.right {
    justify-content: flex-start;
} .row.center, .row-r.center, .fluid.center, .fluid-r.center, .navbar.center, .navbar-r.center {
    justify-content: center;
} .row.right, .row-r.left, .fluid.right, .fluid-r.left, .navbar.right, .navbar-r.left {
    justify-content: flex-end;
} .col.left{
    align-items: flex-start;
} .col.center{
    align-items: center;
} .col.right{
    align-items: flex-end;
}

.pd-10 { padding: 10px; }
.pd-20 { padding: 20px; }
.pd-30 { padding: 30px; }
.mg-10 { margin: 10px; }
.mg-15 { margin: 15px; }
.mg-20 { margin: 20px; }

.link {
    margin: 5px;
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
} .link:hover {
    background-color: rgba(255, 255, 255, 0.3);
} .btn {
    margin: 5px;
    width: 160px;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
} .btn:hover {
    opacity: 0.5;
} .accordion > .acc-f > .acc-s {
    display: none;
} .accordion > .acc-f:focus > .acc-s {
    animation: fadeIn 0.5s;
    display: inherit;
} .card {
    margin: 5px;
    padding: 10px;
    font-weight: 500;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:1000px) {
    .toggle {
        display: flex;
    } .itens {
        display: none;
        flex-direction: column;
    } .itens.left {
        align-items: flex-end;
    } .itens.center {
        align-items: center;
    } .itens.right {
        align-items: flex-start;
    }

    .toggle:focus + .brand {
        display: none;
    } .toggle:focus + .brand + .itens {
        animation: fadeIn 0.4s ease-in-out;
        display: flex;
    } .toggle:focus {
        opacity: 0.5;
    }
} @media only screen and (max-width:650px) {
    .fluid {
        flex-direction: column;
        justify-content: center;
    } .fluid-r {
        justify-content: center;
        flex-direction: column-reverse;
    } .fluid.left,.fluid-r.left {
        align-items: flex-start;
    } .fluid.center,.fluid-r.center {
        align-items: center;
    } .fluid.right,.fluid-r.right {
        align-items: flex-end;
    }
}

/* COLORs */
.amber {
    background-color: #FA0;
    color: #FFF;
} .blue {
    background-color: #58F;
    color: #FFF;
} .teal {
    background-color: #377;
    color: #FFF;
} .green {
    background-color: #5A5;
    color: #FFF;
} .red {
    background-color: #F55;
    color: #FFF;
} .orange {
    background-color: #F70;
    color: #FFF;
} .purple {
    background-color: #A3E;
    color: #FFF;
} .black {
    background-color: #333;
    color: #FFF;
} .silver{
    background-color: #888;
    color: #FFF;
}  .gray {
    background-color: #DDD;
    color: #333;
} .white {
    background-color: #FFF;
    color: #333;
}

/* TEXT COLORs */
.text-amber {
    color: #FA0;
} .text-blue {
    color: #58F;
} .text-teal {
    color: #377;
} .text-green {
    color: #5A5;
} .text-red {
    color: #F55;
} .text-orange {
    color: #F70;
} .text-purple {
    color: #A3E;
} .text-black {
    color: #333;
} .text-silver {
    color: #888;
} .text-gray { 
    color: #DDD;
} .text-white {
    color: #FFF;
} 

/* ANIMATION */
@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
} @keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}